* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   background-position: cover; 
}

.conteiner {
    width: 1080px;
    margin: 0 auto;
    padding-top: 35px;
}

.header {
    margin: 0 auto;
    width: 1065px;
    display: flex;
    justify-content: space-between;
} 

.parent {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    height: 50px;
    cursor: pointer;
}

.milan {
    margin-left: 7px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.holidays {
    margin-top: 0px;
    margin-left: 7px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.milan>.link:hover {
    color: orange;
}

.holidays>.link:hover {
    color: orange;
}

.logo-img>.link:hover {
    color: orange;
}

.info-mail {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

.info-namber {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.photo {
    width: 310px;
    height: 205px;
}

.picture {
    position: relative;
    
}

.picture:nth-child(n-3) {
    margin-top: 30px;
}

.picture-info {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.picture-info:hover {
    color: orange;
    
}

.price {
    height: 65px;
    width: 310px;
    background-color: orange;
    bottom: 41px;
    padding: 20px 20px 17px 20px;
    color: white;
    position: absolute;
    display:none;
}

.foot {
    margin-top: 50px;
    text-align: center;
    color: white;
    padding-bottom: 25px;
}

.picture:hover > .price {
    display: block;  
}

.price-item {
    font-size: 11px;
}

.price-item-two {
    float: left;
    font-weight: bold;
    font-size: 18px;
}

.price-item-three {
    text-align: right;
    font-weight: bold;
}


